@charset "utf-8";
:root {
	/* 甜膩瑪瑙 */
	--ColorType0101: #FFD954;--ColorType0102: #E4B660;--ColorType0103: #F2AB39;--ColorType0104: #69491A;
	/* 憂鬱植物藍 */
	--ColorType0201: #D1DDDB;--ColorType0202: #85B8CB;--ColorType0203: #1D6A96;--ColorType0204: #283B42;
	/* 瑰麗紅 */
	--ColorType0301: #FFC2C3;--ColorType0302: #FE7773;--ColorType0303: #E81E25;--ColorType0304: #0E0301;
	/* 冰凍石 */
	--ColorType0401: #A6C2CE;--ColorType0402: #9C8F96;--ColorType0403: #EBC57C;--ColorType0404: #6B799E;
	/* 北極光 */
	--ColorType0501: #91D4C2;--ColorType0502: #45BB89;--ColorType0503: #3D82AB;--ColorType0504: #003853;
	/* 迷幻霧景 */
	--ColorType0601: #FDDCEF;--ColorType0602: #D5C5E9;--ColorType0603: #3A5A69;--ColorType0604: #030923;
	/* 電光紫 */
	--ColorType0701: #D3B7D8;--ColorType0702: #A13E97;--ColorType0703: #632A7E;--ColorType0704: #280E3B;
	/* 軟木塞 */
	--ColorType0801: #B98D72;--ColorType0802: #AE4951;--ColorType0803: #57233A;--ColorType0804: #161B1F;
	/* 多角萬花筒 */
	--ColorType0901: #E4DACE;--ColorType0902: #E5BB4B;--ColorType0903: #498EAF;--ColorType0904: #631F16;
	/* 天然亞麻 */
	--ColorType1001: #6C838B;--ColorType1002: #BB7748;--ColorType1003: #9E6D70;--ColorType1004: #7F726A;
	/* 惹人注目的金剛鸚鵡 */
	--ColorType1101: #FFDD00;--ColorType1102: #F15A22;--ColorType1103: #5FAD46;--ColorType1104: #478FCD;
}

/**
font-family: 'Noto Sans TC', sans-serif;中文用
font-family: 'DotGothic16', sans-serif;日文用
font-family: 'Bruno Ace SC', cursive;英文(電子
font-family: 'Pacifico', cursive;英文(草寫粗
font-family: 'Shadows Into Light', cursive;英文(草寫細
*/

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=DotGothic16&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Pacifico&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
}

#gotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: #777;
    color: white;
    cursor: pointer;
}

// 登入頁面專用

.login_body{
    margin: 0 auto;
    background-image: url("../images/0302.jpg");
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 90vh;
    font-family: 'Shadows Into Light','Noto Sans TC', sans-serif, cursive;
    font-size: 30px;
    color: var(--ColorType0403);
    padding-top: 150px;
}

.login_box{
    background-color: rgba(42, 47, 62, 0.7);
    border-radius: 15px;
    margin: 0 auto;
}

//小說頁面用

//ToDoList用
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
body#ToDoListBody {
	background: linear-gradient(90deg, rgb(84,130,255),rgb(100,255,134));
}

header#ToDoListHeader {
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		color: white;
		font-size: 3rem;
	}
}


#Y {
	display: inline-block;
	justify-content: center;
	align-items: center;
	width: 35%;
}
#M {
	display: inline-block;
	justify-content: center;
	align-items: center;
	width: 30%;
}
#D {
	display: inline-block;
	justify-content: center;
	align-items: center;
	width: 30%;
}

section#ToDoListSection {
	display: flex;
	flex-direction: column;
	align-items: center;

	div.todo {
		width: 85vw;
		display: flex;
		align-items: center;
		margin: 0.2rem 0rem;
		
		transition: all 0.1s ease;

		p {
			background-color: white;
			color: black;
			padding: 0.25rem 0.5rem;
			font-size: 1.75rem;
		}

		p.todo-text {
			width: 65%;
		}

		p.todo-time {
			width: 35%;
			text-align: center;
		}

		button {
			padding: 0.25rem 0.5rem;
			font-size: 1.75rem;
			border: none;
			cursor: pointer;
			color: white;
		}

		button.complete {
			background-color: rgb(50,255,50);
			margin-bottom: 1rem;
		}

		button.trash {
			background-color: red;
			margin-bottom: 1rem;
		}
	}
	
}

.done {
	opacity: 0.5;
	text-decoration: line-through;
	text-decoration-thickness: 0.2rem;
}

div.sort {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0rem;

	// button {
	// 	cursor: pointer;
	// 	background-color: rgb(0,146,114);
	// 	color: white;
	// 	border: none;
	// 	padding: 0.25rem 0.5rem;
	// 	font-size: 1.75rem;
	// }
}

i {
	pointer-events: none;
}



@keyframes scaleUp {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes scaleDown {
	to {
		transform: scale(0);
	}
}

@media screen and (max-width: 767px) {
	section {
		div.todo {
			p {
				font-size: 1rem;
			}

			button {
				font-size: 1rem;
			}
		}
	}
}

//GAME頁面用

.bgi_cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgi_setting {
    background-position: center top;
    height: 75vh;
}

.bgi_small {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
}
.box{
    background-color: var(--ColorType0803);
    color: var(--ColorType0801);
    border: 10px double var(--ColorType0802);
    border-radius: 20px;
}
.box_bgi{
    height: 250px;
    background-size:cover;
    background-position: center center;
}


.carousel_text {
    background-color: rgba(0, 0, 0, .3);
}

#section6{
    background-color: lightgoldenrodyellow;
}

.section7_img {
    height: 45vh;
    width: 60%;
}

#section8{
    background-color: lightcoral;
}

.section9_text {
    background-color: rgb(0, 0, 0, .5);
    color: aliceblue;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .section5_img {
        z-index: -1;
        right: 0;
    }

    .section5_text {
        background-color: rgb(0, 0, 0, .5);
        color: aliceblue;
        padding: 15px;
    }

    .section7_img {
        z-index: -1;
        right: 0;
        height: 85vh;
        width: 100%;
    }

    #prettyderby2{
        display: none;
    }
}